.benefits {

		&__items {
			display: flex;
			flex-wrap: wrap;
			padding-left: 25px;
		}

		&__item {
			margin-bottom: 100px;
			display: flex;
			align-items: flex-end;
			&:nth-child(even){
				margin-left: 40px;
				transform: translateY(25px);
			}
		}
		&__item-1,
		&__item-3{
			position: relative;
			&::before,
			&::after{
				content: "";
				position: absolute;
				z-index: 10;
				background-repeat: no-repeat;
				background-position: 0 0;
			}
		}
		&__item-1{
			&::before{
				height: 55px;
				width: 245px;
				background-image: url('../images/arrows/1-2.png');
				right: -55px;
				top: 30px;
			}
			}
			&__item-3{
				&::before{
					background-image: url(../images/arrows/3-4.png);
					width: 254px;
					height: 42px;
					top: 54px;
					right: -55px;
				}
				&::after{
					width: 463px;
					height: 67px;
					top: -79px;
					right: -54px;
					background-image: url(../images/arrows/2-3.png);
					}
			}

		&__num {
			@extend %ubuntu-bold;
			font-size: 36px;
			line-height: 113%;
			margin-right: 8px;
		}

		&__img {
			position: relative;
			z-index: 2;
			margin-right: 32px;
			&::before{
				content: "";
				position: absolute;
				width: 193px;
				height: 128px;
				border: 2px solid #FFFFFF;
				right: -12px;
				top: -12px;
				z-index: -1;
			}
		}

		&__info {
			width: 300px;
		}

		&__info-title {
			width: 123px;
			@extend %ubuntu-bold;
			font-size: 21px;
			line-height: 114%;
			margin-bottom: 10px;
		}

		&__info-text {
			width: 300px;
			@extend %ubuntu-light;
			font-size: 15px;
			line-height: 130%;
		}
}

