.contacts {
		&__inner {
			display: flex;
		}

		&__info {
			width: 240px;
			margin-right: 60px;
		}

		&__info-box {
			margin-bottom: 30px;
		}

		&__info-title {
			@extend %ubuntu-bold;
			font-size: 21px;
			line-height: 133%;
			margin: 0 0 13px;
		}

		&__info-phone,
		&__info-mail {
			@extend %ubuntu-light;
			font-size: 15px;
			line-height: 130%;
		}
		&__info-phone:hover{
			text-decoration: underline;
			font-size: 17px;
			font-weight: bold;
			color: red;
		}
		&__info-mail:hover{
			text-decoration: underline;
			font-size: 17px;
			font-weight: bold;
			color: red;
		}

		&__form {
			width: 570px;
			margin-right: 106px;
		}

		&__form-title {
			@extend %ubuntu-bold;
			font-size: 21px;
			line-height: 114%;
			margin: 0 0 13px;
		}

		&__form-text {
			@extend %ubuntu-light;
			font-size: 15px;
			line-height: 130%;
			margin: 0 0 12px;
		}

		&__form-line {
			display: flex;
			justify-content: space-between;
		}
		&__form-input,
		&__form-textarea{
			@extend %ubuntu-regular;
			font-size: 13px;
			line-height: 130%;
			color: #fff;
			opacity: 0.4;

		}
		&__form-input,
		&__form-textarea{
			background: rgba(0, 0, 0, 0.5);
			opacity: 0.95;
			border: none;
			padding: 15px;
			color: #fff;
			&::placeholder{
				color: #fff;
				opacity: 0.4;
			}
		}

		&__form-input {
			width: 49%;
			margin-bottom: 10px;
		}

		&__form-textarea {
			min-height: 104px;
			width: 100%;
			resize: none;
			margin-bottom: 20px;
		}

		&__form-btn {
			text-transform: uppercase;
			@extend %ubuntu-bold;
			font-size: 14px;
			line-height: 114%;
			letter-spacing: 0.03em;
			color: #fff;
			padding: 9px 15px;
			border: 1px solid #FFFFFF;
			border-radius: 2px;
			background-color: transparent;
			cursor: pointer;
			&:hover{
				color: #000;
				background-color: #fff;
				padding: 10px 32px;
				transition: all 0.2s;
			}
		}

		&__social-list {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		&__social-item {
			&:first-child{
				margin-bottom: 28px;
			}
			&:nth-child(2){
				margin-bottom: 24px;
			}
			// margin: 12px 0;
		}

		&__social-link {
			transition: all 0.3s;
            opacity: 0.5;
            &:hover{
                opacity: 1;
                transform: 0.5;
            }
		}

		.footer {
			position: absolute;
			bottom: 32px;
			left: 0;
			right: 0;
			&__copy {
				text-align: right;
				@extend %ubuntu-light;
				font-size: 13px;
				line-height: 130%;
				opacity: 0.4;
			}
		}
	}