.contacts {
		&__inner {
			display: flex;
		}

		&__info {
			width: 240px;
			margin-right: 60px;
		}

		&__info-box {
			margin-bottom: 30px;
		}

		&__info-title {
			@extend %ubuntu-bold;
			font-size: 21px;
			line-height: 133%;
			margin: 0 0 13px;
		}

		&__info-phone,
		&__info-mail {
			@extend %ubuntu-light;
			font-size: 15px;
			line-height: 130%;
		}
		&__info-phone:hover{
			text-decoration: underline;
			font-size: 17px;
			font-weight: bold;
			color: red;
		}
		&__info-mail:hover{
			text-decoration: underline;
			font-size: 17px;
			font-weight: bold;
			color: red;
		}

		&__form {
			width: 570px;
			margin-right: 106px;
		}

		&__form-title {
			@extend %ubuntu-bold;
			font-size: 21px;
			line-height: 114%;
			margin: 0 0 13px;
		}

		&__form-text {
			@extend %ubuntu-light;
			font-size: 15px;
			line-height: 130%;
			margin: 0 0 12px;
		}

		&__form-line {
			display: flex;
			justify-content: space-between;
		}
		&__form-input,
		&__form-textarea{
			@extend %ubuntu-regular;
			font-size: 13px;
			line-height: 130%;
			color: #fff;
			opacity: 0.4;

		}
		&__form-input {
			width: 45%;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0.95;
			border: none;
			padding: 15px;
			color: #fff;
			margin-bottom: 10px;
		}

		&__form-textarea {
			background: rgba(0, 0, 0, 0.5);
			opacity: 0.95;
			border: none;
			color: #fff;
		}

		&__form-btn {
		}

		&__social-list {
		}

		&__social-item {
		}

		&__social-link {
		}

		.foter {
		}
		.footer {
		
				&__copy {
				}
		}
	}