
.products {
		&__inner {
            display: flex;
            justify-content: space-between;
            padding-left: 50px;
            padding-bottom: 50px;
		}

		&__text {
            max-width: 450px;
            p{
                margin-bottom: 30px;
            }
		}

		&__slider-box {
            position: relative;
            padding-top: 90px;
		}

		&__slider-text {
            z-index: 12;
            width: 282px;
            position: absolute;
            text-align: right;
            @extend %ubuntu-medium;
            font-size: 24px;
            line-height: 116%;
            bottom: 30px;
            left: -250px;
		}

		&__slider {
            max-width: 560px;
            // max-height: 300px;
		}

		&__slider-item {
		}

		&__slider-img {
		}
}
.slider-btn{
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: -53px;
    right: 0;
    cursor: pointer;
    z-index: 5;
    svg{
        stroke: #000;
    }
    &__left{
        right: 60px;
        margin-right: 5px;
    }
}

